<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/posts/get-all-posts">Show All Posts</a></li>
        <li><a href="">Login</a></li>
        <li><a href="">SignUp</a></li>
    </ul>
</nav>