<!DOCTYPE html>

<html lang="en">

<% include ./partials/head %> 

<body>

    <% include ./partials/nav %> 

    <h1><%= title %></h1>
    <p>Hello from home.ejs</p>

    <p><% data.forEach(e => { %>
        <p>Number: <%= e %> </p>
    <% }) %></p>

</body>

</html>